<div  style="margin: 20px; max-width: 1024px;">
  <h2>Das Gotthelf-Universum</h2>

  <div class="content-box">

    <button type="submit" class="btn btn-success" style="color:black; margin-top:20px; margin-bottom:30px;" (click)="getTextFromServer(1)">Hole Text C5G_Geld_3 aus eXist-DB</button>

    <ul *ngIf="!pIndexIsChosen" class="products">
      <!--b>Gesamttext</b-->
      <li *ngFor="let p of products.body.p;">
        {{p.text}}
      </li>
    </ul>
    <ul *ngIf="pIndexIsChosen" class="products" id="chosenParagraph">
      <li>
        <b>Absatz {{pIndex}}</b><br />{{textOfChosenParagraph}} 
      </li>
    </ul>

  </div>

  <div class="content-box select-p" [ngClass]="{ 'show': pMenuVisible }">
    <form>
      <label for="name">Zeige nur folgenden Absatz<br />(Zahl zwischen 1 und 114 eingeben):&nbsp;</label>
      <input type="text" [(ngModel)]="pIndex" name="pIndex" (ngModelChange)="onTextChange($event)" />
    </form>
    <!--p>{{pIndex}}</p-->
  </div>

</div>  